<div class="controls">
  <a href="#" class="logo"></a>
  <div class="addMore">
    <input type="text" class="input" />
    <span class="add">+</span>
    <span class="add" style="display: none;">Add</span>

  </div>
  <label>Mark as read</label>
  <select>
    <option>all the things</option>
  </select>
  <label>Sort by</label>
  <select>
    <option>date</option>
  </select>
  <ul class="options">
    <li><span class="full active">Full</span></li>
    <li><span class="condensed">Condensed</span></li>
    <li>|</li>
    <li><span>Settings</span></li>
  </ul>
</div>