<header>
  <div class="inner">
    <a href="/" class="logo">Reeder</a>
    <ul class="profile">
      <li>
        <a ng-click="signout()" ng-controller="UserController">Signout</a>
      </li>
    </ul>
  </div>
</header>