<header>
  <div class="inner">
    <a href="/" class="logo"><span></span>Reeder</a>
    <div class="profile">
      <a ng-click="signout()" ng-controller="UserController">Signout</a>
    </div>
  </div>
</header>