<header>
  <div class="inner">
    <a href="/" class="logo">Reeder</a>
    <ul class="profile">
      <li ng-controller="UserController">
        <a ng-click="signout()" ng-show="isAuthenticated()">Sign Out</a>
        <span ng-show="!isAuthenticated()">
          <a href="/signin">Sign In</a> |
          <a href="/signup">Sign Up</a>
        </span>
      </li>
    </ul>
  </div>
</header>

