<ul>
  <li class="all active">
    <a href="#">Subscriptions <b>(<%= feeds.size %>)</b></a>
    <ul>
      <% feeds.each do |feed| %>
        <li>
          <a href="/?f=<%= feed.id %>"><%= trim(feed.title) %></a>
        </li>
      <% end %>
    </ul>
  </li>
</ul>