<div class="controls">
  <!-- <a href="#" class="logo"></a> -->
  <div class="sideActions">
    <div class="addMore" ng-controller="FeedImportController">
      <input type="text" class="input" />
      <span class="add" ng-click="import_feed()"><i class="icon-plus"></i></span>
    </div>

    <div class="search">
      <form ng-controller="SearchController">
        <input type="text" class="input" placeholder="" ng-form="search_query" />
       
        <input type="submit" value="Search" ng-click="search_posts()"/>
         <i class="icon-search"></i>
      </form>
    </div>
  </div>

  <ul class="options" ng-controller="FeedNavigationController">
    <li>
      <a class="active" ng-href="/#/feeds">
        <i class="icon-cog"></i>
      </a>
    </li>
  </ul>
</div>

<div class="manage-subscriptions">
  <h2>Manage Subscriptions</h2>
  <div class="list">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th>Posts</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="feed in feeds" id="feed_{{ feed.id }}">
          <td class="title">
            <a ng-href="/#/feeds/{{ feed.id }}">{{ feed.title }}</a><br/>
            {{ feed.url }}
          </td>
          <td class="status">{{ feed.status }}</td>
          <td class="posts">{{ feed.posts_count }}</td>
          <td class="timestamp">{{ feed.last_modified_at | postDateFormatter }}</td>
          <td>
            <a ng-click="delete_feed(feed.id, $index)" class="btn">Unsubscribe</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

