<div class="controls">
  <a href="#" class="logo"></a>
  <div class="addMore">
    <input type="text" class="input" />
    <span class="add"><i class="icon-plus-sign"></i></span>
    <span class="add" style="display: none;">Add</span>

  </div>
  <label>Mark as read</label>
  <select>
    <option>all the things</option>
  </select>
  <label>Sort by</label>
  <select>
    <option>date</option>
  </select>
  <ul class="options">
    <li>
      <span class="full active">
        <i class="icon-th-list"></i>
      </span>
    </li>
    <li>
      <span class="condensed">
        <i class="icon-align-justify"></i>
      </span>
    </li>
    <li>
      <a ng-href="/#/feeds">
        <i class="icon-cog"></i>
      </a>
    </li>
  </ul>
</div>

<section ng-repeat="post in posts">
  <span class="meta">
    <span class="source">
      <a href="#" target="_blank">{{ (feed || post.feed).title }}</a>
    </span>
    <span class="author">
      by <a href="#">{{ post.author || 'Unknown' }}</a>
    </span>
  </span>
  <div class="title">
    <span class="date">
      {{ post.published_at | postDateFormatter }}
    </span>
    <h1>
      <a href="{{ post.url }}" target="_blank" ng-bind-html-unsafe="post.title"></a>
    </h1>
  </div>
  <div class="content" ng-bind-html-unsafe="post | postFormatter"></div>
</section>