<div class="controls">
  <!-- <a href="#" class="logo"></a> -->
  <div class="sideActions">
    <div class="addMore" ng-controller="FeedImportController">
      <input type="text" class="input" />
      <span class="add" ng-click="import_feed()"><i class="icon-plus"></i></span>
    </div>

    <div class="search">
      <form ng-controller="SearchController">
        <input type="text" class="input" placeholder="" ng-form="search_query" />
       
        <input type="submit" value="Search" ng-click="search_posts()"/>
        <i class="icon-search"></i>
        <span class="search-show"></span>
      </form>
    </div>
  </div>

 <!--  <label>Mark as read</label>
  <select>
    <option>all the things</option>
  </select>
  <label>Sort by</label>
  <select>
    <option>date</option>
  </select> -->
  

  <ul class="options" ng-controller="FeedNavigationController">
    <li>
      <span class="full active" id="view_full" ng-click="view_full()">
        <i class="icon-th-list"></i>
      </span>
    </li>
    <li>
      <span class="condensed" id="view_condensed" ng-click="view_condensed()">
        <i class="icon-align-justify"></i>
      </span>
    </li>
    <li>
      <a ng-href="/#/feeds">
        <i class="icon-cog"></i>
      </a>
    </li>
  </ul>

  <ul class="options ArrowsControls">
    <li>
      <span class="prev">
      <i class="icon-chevron-up"></i>
      </span>
    </li>
     <li>
      <span class="next">
       <i class="icon-chevron-down"></i>
      </span>
    </li>
  </ul>
</div>

<section ng-repeat="post in posts" ng-class="{current: $first}">
  <span class="meta">
    <span class="source">
      <a href="#" target="_blank">{{ (feed || post.feed).title | feedNameFormatter }}</a>
    </span>
    <span class="author" ng-bind-html-unsafe="post | postAuthorFormatter"></span>
   
  </span>
  <div class="title">
    <span class="date">
      {{ post.published_at | postDateFormatter }}
    </span>
    <span id="star_{{ post.id }}" class="bookmark {{ post | postBookmarkClass }}" ng-click="bookmark(post.id)" ng-controller="PostController">
      <i class="icon-star"></i>
    </span>
    <h2>
      <a href="{{ post.url }}" target="_blank" ng-bind-html-unsafe="post.title"></a>
    </h2>
  </div>
  <div class="content" ng-bind-html-unsafe="post | postFormatter | postSanitizer"></div>
</section>

<script src="/js/feed.js"></script>
