<div class="side">
  <ul>
    <li class="group">
      <a ng-href="/#/recent">Recent Posts</a>
    </li>
    <li class="group"><i class="icon-star"></i>
      <a ng-href="/#/bookmarks">Bookmarks</a>
    </li>
    <li class="all active">
      <a ng-href="/#/feeds">Subscriptions <b>({{ feeds_count }})</b></a>
      <ul>
        <li ng-repeat="feed in feeds">
          <a ng-href="/#/feeds/{{ feed.id }}" class="feed" data-id="{{ feed.id }}">{{ feed.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

