/*============================================================
 Resets
============================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul { list-style:none; }

/* = HTML 5
----------------------------------------------- */
article,footer,header,main,section { margin:0; padding:0; display:block; }
aside,details { margin:0; padding:0; }

body { line-height: 1; }
quote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Form field focus style */
:focus { outline: 0; }

/* Form outline / Firefox */
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {   
  border : 0px;
}

button:hover, button:active, button:focus {
  cursor: pointer;
  outline: none;
  -moz-outline-style: none;
}

/* = HTML 5
----------------------------------------------- */
article,footer,header,section { margin:0; padding:0; display:block; }
aside,details { margin:0; padding:0; }

/*============================================================
 Defaults
============================================================*/
a { cursor:pointer; outline:none; text-decoration:none; color: rgba(196, 77, 77, 0.9); }
a:active, a:focus { outline: none; }
a:link, a:visited, a:hover { text-decoration: none; }
a img { border: 0; }

p { font-size: 13px; line-height: 18px; }

input, input::-moz-focus-inner, button, button::-moz-focus-inner { border:0; }

img { vertical-align: middle; } 

em { font-style: italic; }
strong { font-weight: bold; }

.button,
a.button,
.side a.button {
  display: block;
  height: 30px; line-height: 30px;
  width: 100%;
  text-align: center;
  font-style: 13px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 1px rgba(49, 158, 191, 1);
  background: #aaa;
}

/*============================================================
 Typography 
============================================================*/
@font-face {
  font-family: "Gnuolane";
  src: url('/fonts/gnuolane.woff') format('woff'),
       url('/fonts/gnuolane.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*============================================================
 Base Layout 
============================================================*/
html {   height: 100%;  }
body {
  color: rgba(68, 66, 62, 0.7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f3f4f5;
  font-size: 12px;
  line-height: 18px;
  height: 100%; 
}

h1 { 
  font-size: 48px; line-height: 50px; 
  color: #000;
}
h2 { font-size: 24px; line-height: 22px; }
h5 { font-size: 12px; line-height: 22px; }

#wrapper { overflow: hidden; }

/*============================================================
 Header 
============================================================*/
header { 
  width: 100%;
  height: 40px; line-height: 40px;
/*  background: no-repeat 0px center url('/images/bg-logo.png');*/
}
header .inner { padding: 0 10px; }

header .profile {
  position: absolute;
  right: 40px;
  top: 0px;
}
header .profile a {
  font-size: 12px;
  font-weight: 500;
  color: #777;
}
header .profile a:hover { color: #ed4732; } 


header a.logo { 
  position: relative;
  display: block;
  width: 100px; height: 20px; 
  color: #333;
  padding: 10px 0px 10px 30px; 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 21px;
  font-stretch: condensed;
  letter-spacing: 0px;
  text-transform: uppercase;
  background-image: url('/images/swag.svg');
  background-position: left center;
          background-size: 23px 17px;
  -webkit-background-size: 23px 17px;
     -moz-background-size: 23px 17px;
  background-repeat: no-repeat;
}
header a.logo i { color: #ed4731; font-style: normal; }

.controls {
  position: absolute;
  top: 40px; right: 0; left: 0;
  min-width: 805px;
  height: 40px;
  padding: 0px 30px 0 0;
  background: rgba(51, 51, 51, 0.9);
/*  border-bottom: solid 1px rgba(172, 175, 156, 0.15);*/
  z-index: 100;
}

.controls .logo {
  display: none;
  opacity: 0;
  float: left;
  width: 30px; height: 30px;
  line-height: 30px;
  background: left 6px no-repeat url('/images/logo-blue.png');
}
.controls.fixed .logo { display: block; opacity: 1; }

.controls label {
  line-height: 30px;
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin: 5px 10px 0 0;
  color: #dedede;
}
.controls select { 
  float: left; 
  min-width: 100px;
  margin: 10px 30px 0 0;
}
/*.controls select {
  position: relative;
  display: block;
  float: left;
  border: none;
  min-width: 100px;
  height: 30px; line-height: 30px;
  padding: 0 20px 0 10px;
  margin: 0 30px 0 0;
  font-size: 12px;
          appearance: none;
     -moz-appearance: none;
  -webkit-appearance: none;
  color: rgba(68, 66, 62, 0.9);
  background: rgba(172, 175, 156, 0.15);
  border-radius: 3px;
  z-index: 10;
}
.controls select:before {
  position: absolute;
  display: block;
  top: 0; left: 0;
  width: 12px; height: 12px;
  background: red;
}*/

.controls .options {
  float: right;
  background: transparent;
}
.controls .options.ArrowsControls { margin: 0 10px 0 0; }

.controls ul  {
  float: right;
  padding: 3px 0 0;
}
.controls ul li {
  float: left;
  font-size: 11px;
  line-height: 29px;
  margin: 0 0px 0 2px;
}
.controls ul li span,
.controls ul li a {
  display: block;
  padding: 5px 10px 0;
  line-height: 29px;
  cursor: pointer;
  font-weight: normal;
  color: #000;
}
.controls ul li span:hover {
  background: rgba(172, 175, 156, 0.05);
  color: #888;
}
.controls ul li span.active {
  background: rgba(172, 175, 156, 0.2);
  color: #dedede;
}

.controls ul li a i  { font-size: 17px; }
.controls ul li span i { font-size: 14px; }

.controls ul li a:hover i { color: #888; }
.controls ul li a.active {
  background: rgba(172, 175, 156, 0.2);
  color: #dedede;
}
.controls ul li a.active:hover i { color: #dedede; }

.controls.fixed {
  position: fixed;
  top: 0px; right: 0; left: 0;
  background: rgba(51, 51, 51, 0.9) no-repeat left center url('/images/bg-logo.png');
/*  border-bottom: solid 1px rgba(172, 175, 156, 0.15);*/
  z-index: 100;
}


/*============================================================
 Side w/ actions 
============================================================*/
.controls .sideActions {
  width: 280px;
  float: left;
  margin: 0 26px 0 0;
}

.controls .addMore {
  float: left;
  padding: 0px 0 0;
  margin: 0;
  width: 40px;
}
.controls.fixed .addMore { padding: 0;   }
.controls.fixed .add { background: #16a6b6; }

.controls .add {
  display: block;
  height: 40px; width: 40px;
  padding: 0 0;
  line-height: 40px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background: #000;
  text-align: center;
  cursor: pointer;
}
.controls .add:hover { background: #ed4732; }

.controls .addMore.expanded {
  margin: 0; 
}
.controls .addMore .input {
  display: none;
  width: 225px;
  font-size: 13px;
  height: 18px; line-height: 18px;
  padding: 11px;
  border: none;
  float: left;
  background: #f1f1f1;
}

.controls .addMore.expanded .input {
  display: block;
  background: #fff;
  width: 195px;
  margin: 2px 0 0 0;
  padding: 9px 11px;

}
.controls .addMore.expanded .add {
  float: right;
  font-weight: normal;
  margin: 2px 0 0;
  height: 35px;
  line-height: 35px;
}

/*============================================================
 Search field 
============================================================*/
.controls .search {
  position: relative;
  float: right;
  padding: 0px;
  margin: 0;
  width: 40px; height: 40px;
  background: #000;
  overflow: hidden;
}
.controls .search input[type=text] {
  position: absolute;
  top: 0; left: 0px;
  width: 180px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  padding: 8px 10px;
  border: none;
  background: transparent;
}
.controls .search input[type=submit] {
  visibility: hidden; opacity: 0;
  position: absolute;
  top: 0; right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 0px;
  border: none;
  background: transparent;
}

.controls .search.focused {
  -webkit-transition: width 0.2s linear;
          transition: width 0.2s linear;
  width: 230px;
}
.controls .search.focused input[type=text] {
  background: #fff; 
}
.controls .search.focused input[type=submit] {
  visibility: visible; opacity: 1;
  background: #fff;
  cursor: pointer;
  z-index: 12;
}

/*.controls .search .input {
  border: none;
  width: 19px;
  line-height: 24px;
  padding: 8px 11px;
  margin: 0;
  background: rgba(0, 0, 0, 0.06);
  display: block;
}
.controls .search .input:focus,
.controls.fixed .search .input:focus {
  width: 130px;
  background: #fff;
}
.controls.fixed .search .input {
  background: rgba(0, 0, 0, 1);
}*/

.controls .search i {
  position: absolute;
  height: 34px; line-height: 34px;
  font-size: 18px; 
  top: 2px; right: 11px;
  color: #dfdfdf;
  z-index: 12;
  pointer-events: none;
}
.controls .search .search-show {
  display: block;
  position: absolute;
  height: 40px; line-height: 40px;
  width: 40px;
  top: 0px; right: 0px;
  z-index: 11;
}
.controls .search.focused .search-show { display: none; }

 
/*============================================================
 Sidebar 
============================================================*/
.side { 
  position: absolute;
  top: 80px; 
  left: 0px;
  bottom: 0; 
  width: 280px;
  padding: 0 0 0 0px;
  overflow: scroll;
}
.side.fixed { 
  position: fixed;
  top: 40px; 
  bottom: 0; 
  right: 260px;
}

.side a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: rgba(68, 66, 62, 0.6);
}
.side a i {
  width: 15px; 
  height: 15px;
  float: left;
  /*margin: 1px 0px 0 0;*/
  margin-right: 4px;
}

.side a i img {
  width: 15px;
  height: 15px;
}

.side ul {
  padding: 20px 0 0;
}
.side ul li {}
.side ul li.group {}

.side ul li a {
  padding: 2px 35px 2px 17px;
  margin: 0 0 5px;
  font-weight: bold;
  color: #000;
}
.side ul li a i {
  float: left;
  margin: 3px 7px 0 -3px;
  color: #aaa;
  font-weight: normal;
}

.side ul li small {
  float: right;
  color: #bbb;
font-size: 12px;
margin-right: -20px;
}

.side ul li.all { position: relative; }

.side ul li.all a {
  padding-left: 17px;
}
.side ul li.all a i {
  float: left;
  margin: 3px 7px 0 -3px;
  color: #aaa;
}

.side ul li.all ul li a i {
  float: left;
  margin: 1px 7px 0 -3px;
  background: #ddd;
}

.side ul li.all ul li {
  margin: 0 0 1px;
}
.side ul li.all ul li a {
  position: relative;
  padding-left: 15px;
  padding-right: 35px;
}

.side ul li.all a b { font-size: 11px; color: #777; font-weight: normal; }

.side ul li ul { display: none; padding: 0; }
.side ul li.active ul { display: block; }

.side ul li ul li a {
  margin: 0;
  padding: 3px 15px;
  font-weight: normal;
  color: #777;
}
.side ul li a:hover, 
.side ul li ul li a:hover { 
  background: rgba(172, 175, 156, 0.05);
  color: #000;
}

.side ul li ul li a.active { 
  color: #333;
  background-color: rgba(172, 175, 156, 0.1); }


/*============================================================
 Body content 
============================================================*/
main {
  display: block;
  min-width: 800px;
  bottom: 0; right: 0;
  padding: 60px 25px 20px 290px;

/*  overflow: scroll;*/
}
section {
  position: relative;
/*  margin: 0 0 35px;
  padding: 0 0 20px 150px;*/
  margin: 0 0 25px;
  padding: 45px 20px 0px 20px;
  border-bottom: solid 1px rgba(172, 175, 156, 0.15);
/*  overflow: hidden;*/
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #cfcfcf;
}

section hr {
  color: rgba(172, 175, 156, 0.15);
  border-color: rgba(172, 175, 156, 0.15);
}

section .meta {
  position: absolute;
  top: 10px; left: 0px;
  font-size: 11px;
}
section .meta span {
  display: block;
  float: left;
  line-height: 14px;
  padding: 5px 0;
  margin: 0 0 3px;
  text-align: center;
}
section .meta .source {
  min-width: 110px;
  padding: 5px 10px;
/*  background: #ed4732;*/
  background: #efefef;
  border-left: solid 3px #ed4732; 
  margin-left: -3px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, sans-serif;
  font-stretch: condensed;
  font-size: 11px; font-weight: bold;
  color: #555;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
section .meta .source a {
  color: #555;
} 
section .meta .author {
  text-align: left;
  color: rgba(68, 66, 62, 1);
  opacity: 0.3;
  padding-left: 10px;
}
section .meta .author a {
  color: rgba(68, 66, 62, 1);
  font-weight: bold;
  margin-right: 10px;
}

section .title {
  position: relative;
  margin: 0 0 15px; 
}
section .title .date {
  position: absolute;
  top: -33px; right: 18px;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  color: rgba(68, 66, 62, 0.4);
}

section .bookmark {
  position: absolute;
  top: -33px; right: -5px;
  color: #ccc;
  font-size: 15px;
  cursor: pointer;
}

section .bookmark:hover, section .bookmark.active {
  color: #ed4732;
}

section .title h2 {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;
  color: rgba(68, 66, 62, 1);
  padding: 0 150px 0 0;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}
section .title h2 a       { color: #000; border: none; }
section .title h2 a:hover { color: rgba(68, 66, 62, 0.8); }

section .title h5 {
  color: rgba(68, 66, 62, 0.6);
  font-weight: normal;
}
section .title h5 i { font-style: normal; }

section .title h5 a {
  font-weight: bold;
  color: rgba(68, 66, 62, 0.6);
}
section .title h5 a:first-child {
  color: rgba(196, 77, 77, 0.6);
}
section p {
  margin: 0 0 20px;
  color: #000;
}

/* Post content */
section div.content {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding-bottom: 12px;
  max-width: 900px;
}

section div.content p {
  margin: 0 0 20px;
  line-height: 20px;
}
section div.content a {
  color: #ed4732;
  text-decoration: underline;
}
section div.content a:hover { color: #aaa; }

section div.content h1,
section div.content h2,
section div.content h3,
section div.content h4,
section div.content h5 { margin: 0 0 10px; color: #444; }  

section div.content h1 { font-size: 18px; }
section div.content h2 { font-size: 16px; }
section div.content h3 { font-size: 14px; }

section div.content pre {
  overflow-x: scroll;
  background: #f4f4f4; 
  margin: 0 0 20px;
  padding: 10px;
  font-size: 11px;
  line-height: 16px;
  color: #333;
  border: solid 1px #dedede;
  border-radius: 2px;
  font-family: Monaco, 'Andale Mono', monospace;
}
section div.content pre.ruby { font-size: 12px; }
section div.content pre code { 
  padding: 4px; 
  font-family: Monaco, 'Andale Mono', monospace;
}
section div.content p code,
section div.content ol code,  
section div.content li code {
  background: #f4f4f4; 
  color: #333;
  border: solid 1px #dedede;
  font-size: 11px;
  padding: 1px 2px;
  border-radius: 2px;
  font-family: Monaco, 'Andale Mono', monospace;
}

section div.content ul {
  list-style: disc outside;
  margin: 0 0 20px 25px;
}
section div.content ol {
  list-style: decimal; outside;
  margin: 0 0 20px 35px;
}
section div.content ul li,
section div.content ol li { margin: 0 0 5px; }


section div.content img,
section div.content iframe { max-width: 100%;  margin: 0 0 5px; }

section div.content h4 img, 
section div.content p img { 
  display: block;
  margin: 0 0 5px;
}

section div.content caption { 
  margin: 0 0 5px;
}

section div.content table { margin: 0 0 20px; }

section div.content ul { 
  margin-left: 20px;
}

section div.content ul li {
  list-style: disc;
  list-style-type: disc;
}

section div.content pre {
  margin: 12px 0px;
}

section div.content pre code {
  font-family: monospace;
  font-size: 12px;
}

section div.content h3 {
  display: block;
  font-size: 14px;
  margin: 8px 0px;
}

section div.content h4 {
  display: block;
  margin: 8px 0px;
}

/*============================================================
 Body content condensed
============================================================*/
main.condensed section {
  margin: 0;
  padding: 5px 0 5px 150px;
  max-width: 100%;
}
main.condensed section .meta {
  top: 7px;
}
main.condensed section .meta .author { display: none; }

main.condensed section .title { margin: 0; }
main.condensed section h2 { 
  float: left;
  max-width: 600px;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 14px; font-weight: 400; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main.condensed section h5 { 
  float: right; padding-right: 100px; 
  font-size: 11px; 
}
main.condensed section h5 i { display: none; }
main.condensed section div.content { display: none; }
main.condensed section .meta .source { max-width: 100px; }
main.condensed section .title .date { top: 7px; right: 38px; }
main.condensed section .title .bookmark { top: 7px; right: 15px; }


main.condensed section.expanded {
  margin-bottom: 0px;
  padding: 15px 15px 20px 150px;
}
main.condensed section.expanded h2 {
  float: none;
  padding: 0px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  overflow: visible;
  white-space: normal;
  text-overflow: visible;
}

main.condensed section.expanded .title {
  position: relative;
  margin: 0 0 15px; 
}
main.condensed section.expanded div.content {
  display: block; 
}
main.condensed section.expanded .title h2 {
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  font-size: 25px;
  line-height: 28px;
  font-weight: normal;
  color: rgba(68, 66, 62, 1);
  padding: 0 150px 0 0;
}
main.condensed section.expanded .meta {
position: absolute;
top: 20px;
left: 0px;
font-size: 11px;
}

/* -------------------------------------------------------------------------- */
/* Manage Subscriptions */
/* -------------------------------------------------------------------------- */

div.manage-subscriptions {

}

div.manage-subscriptions h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, sans-serif;
  font-stretch: condensed;
  color: #000;
  margin: 0 0 20px 10px;
}

div.manage-subscriptions .list {
  margin-bottom: 12px;
  padding: 12px;
  border-bottom: solid 1px rgba(172, 175, 156, 0.15);
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #cfcfcf;
  font-size: 13px;
}

div.manage-subscriptions table th {
  color: #000;
  text-align: left;
  padding: 8px;
}

div.manage-subscriptions table thead tr {
}

div.manage-subscriptions table tbody tr:hover {
  background: #f8f8f8;
}

div.manage-subscriptions table td {
  padding: 8px;
  vertical-align: middle;
}

div.manage-subscriptions table td.title { width: 30%; }
div.manage-subscriptions table td.title a { font-weight: bold; }
div.manage-subscriptions table td.title a:hover { text-decoration: underline; }

div.manage-subscriptions table td.url {}

div.subscription .title span.status.error {
  color: #e92c35;
}

div.subscription .title span.status.ok {
  color: #91b067;
}

/*============================================================
 Spash styles
============================================================*/
.splash {
  height: auto !important; 
  height: 100%; min-height: 100%; position: relative;
  overflow: hidden;
}
.splash .topNav {
  position: absolute;
  width: 100%;
  top: 20px; text-align: center;

}
.splash .topNav li {
  display: inline-block;
  height: 26px; line-height: 26px;
}
.splash .topNav li a {
  display: inline-block;
  color: #fff; 
  min-width: 87px;
  background-color: rgba(35, 31, 32, 0.7);
}

.splash .wrap {
  position: absolute;
  width: 300px; height: 200px;
  margin: 0px;
  top: 50%; left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  text-align: center;
}
.splash .formTitle {
  margin: 0 0 25px;
}
.splash .formTitle h1 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, sans-serif;
  font-stretch: condensed;
  width: 200px;
  text-align: left;
  margin: 0 auto 5px;
  background-image: url('/images/swag.svg');
  background-position: right center;
          background-size: 46px 34px;
  -webkit-background-size: 46px 34px;
     -moz-background-size: 46px 34px;
  background-repeat: no-repeat;
}
.splash .formTitle p {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}
.splash a {
  margin: 0 auto;
}
.splash a.funkyButton { width: 220px; }

.splash .simple-form {
  padding-top: 50px;
}
.ready .splash .simple-form {
  -webkit-transition: padding 0.3s linear, opacity 0.2s linear;
          transition: padding 0.3s linear, opacity 0.2s linear;
  padding-top: 0px;
  opacity: 1;
}

/*============================================================
 Forms styles
============================================================*/
.onBoard {
  position: relative;
  padding: 0 290px 0 0;
}
.onBoard.signin {
  padding-top: 100px;
}
.onBoard.signup {
  padding-top: 50px;
}

.onBoard h1 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, sans-serif;
  font-stretch: condensed;
  width: 220px;
  text-align: left;
  margin: 0 auto 5px;
  background-image: url('/images/swag.svg');
  background-position: right center;
          background-size: 46px 34px;
  -webkit-background-size: 46px 34px;
     -moz-background-size: 46px 34px;
  background-repeat: no-repeat;
}
.onBoard .formTitle {
  margin: 0 0 25px;
}
.onBoard .formTitle p {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.onBoard .simple-form {
  width: 220px;
  margin: 0 auto;
}
.simple-form div {
  position: relative;
  margin: 0 0 10px;
}
.simple-form div i {
  position: absolute;
  top: 10px; left: 10px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

input[type=text],
input[type=password] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 190px; height: 24px;
  line-height: 20px;
  font-size: 13px;
  padding: 7px 15px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #000;
  font-weight: 400;
}
.signin .simple-form input[type=text],
.signin .simple-form input[type=password],
.signup .simple-form input[type=text],
.signup .simple-form input[type=password] {
  width: 170px;
  padding: 5px 15px 5px 35px;
}

.simple-form ::-webkit-input-placeholder { font-weight: 400; color: rgba(0, 0, 0, 0.4); }
.simple-form      :-ms-input-placeholder { font-weight: 400; color: rgba(0, 0, 0, 0.4); }
.simple-form          ::-moz-placeholder { font-weight: 400; color: rgba(0, 0, 0, 0.4); }
.simple-form           :-moz-placeholder { font-weight: 400; color: rgba(0, 0, 0, 0.4); }

input[type=text]:focus,
input[type=password]:focus {
  -webkit-transition: background 0.1s linear;
          transition: background 0.1s linear;
  background: #fff;
}

.funkyButton,
.simple-form button {
  position: relative;
  display: block;
  border: none;
  width: 100%; height: 34px;
  padding: 0 10px 0 0;
  line-height: 37px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  background: #000;
  color: #fff;
  text-align: center;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.simple-form button:hover { background: rgba(0, 0, 0, 0.8); }
.simple-form button:active { background: rgba(0, 0, 0, 1); }

.funkyButton:before,
.funkyButton:after,
.simple-form button:before,
.simple-form button:after {
  display: block;
  content: '';
  position: absolute;
  background: #f3f4f5;
  top: -10px; right: 22px;
  height: 34px; width: 7px;
          transform: rotate(-45deg);
      -ms-transform: rotate(-45deg); 
  -webkit-transform: rotate(-45deg);
  z-index: 100;
}
.funkyButton:after,
.simple-form button:after {
  bottom: -10px; top: auto;
          transform:rotate(45deg);  
      -ms-transform:rotate(45deg); 
  -webkit-transform:rotate(45deg);
}

.funkyButton { background-color: #16a6b6; }
.funkyButton:hover { background-color: rgba(22, 166, 182, 0.85); }
.funkyButton:active { background-color: #16a6b6; }

.splash .formTitle h1,
.onBoard h1 { margin-top: -10px;  opacity: 1; }

.ready .splash .formTitle h1,
.ready .onBoard h1 {
  -webkit-transition: margin 0.3s linear, opacity 0.2s linear;
          transition: margin 0.3s linear, opacity 0.2s linear;
  margin-top: 0px;
  opacity: 1;
}

.simple-form {
  padding-top: 50px;
  opacity: 0;
}
.simple-form div {
  margin: 0 0 20px;
}
.ready .simple-form {
  -webkit-transition: padding 0.3s linear, opacity 0.2s linear;
          transition: padding 0.3s linear, opacity 0.2s linear;
  padding-top: 0px;
  opacity: 1;
}

.ready .simple-form div:first-child {
  -webkit-transition: margin 0.4s linear;
          transition: margin 0.4s linear;
  margin-bottom: 10px;
}
.ready .simple-form div:nth-child(2) {
  -webkit-transition: margin 0.5s linear;
          transition: margin 0.5s linear;
  margin-bottom: 10px;
}
.ready .simple-form div:nth-child(3) {
  -webkit-transition: margin 0.6s linear;
          transition: margin 0.6s linear;
  margin-bottom: 10px;
}
.ready .simple-form div:nth-child(4) {
  -webkit-transition: margin 0.7s linear;
          transition: margin 0.7s linear;
  margin-bottom: 10px;
}


/*============================================================
 Clears
============================================================*/
.clear { clear: both; line-height: 0px; font-size: 0px; height: 0px; margin: 0px; padding: 0px; width: 100%; }
section:after,
.clearer:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
