<!DOCTYPE html>
<html lang="en" ng-app="reeder">
  <head>
    <meta charset="utf-8">
    <title>Reeder</title>
    <%= css :app, :media => 'screen' %>
  </head>
  <body ng-show="authenticated" ng-cloak>
    <div id="wrapper">
      <div class="inner">
        <%= render_partial 'partials/_header' %>

        <main role="main" id="main">
          <reeder-sidebar></reeder-sidebar>
          <div ng-view></div>
        </main>
      </div>
    </div>

    <%= js :app %>
  </body>
</html>
