<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reeder</title>
    <%= css :app, :media => 'screen' %>
  </head>
  <body>
    <div class="splash">
      <ul class="topNav">
        <li><a href="/signin">Sign in</a></li>
      </ul>
      <div class="wrap">
       <div class="formTitle">
          <h1>REEDER</h1>
        <p>minimalistic feeds reader for your stuff</p>
      </div>
      <div class="simple-form">
        <a class="funkyButton" href="#">Get Started</a>
      </div>
    </div>
    </div>
  <%= js :app %>
  </body>
</html>