<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Reeder</title>
    <%= css :app, :media => 'screen' %>
  </head>
  <body>
    <div class="splash">
      <img src="/images/logo-big.png" />
    </div>
  </body>
</html>